/* IMAGE LOADER */
.image-loader {
  width: 100%; /* Full width of the parent container */
  height: 645px; /* Adjust the height based on your banner */
  position: relative;
  background-color: var(--colour2); /* Light gray background as a placeholder */
  overflow: hidden;
}

/* REDEMPTIONMENU LOADER */
.redemption-icon {
  width: 64px; /* Adjust the size as per your design */
  height: 64px; /* Adjust the size as per your design */
  border-radius: 50%;
  background-color: var(--colour2);
}
.redemption-text {
  width: 80px; /* Adjust the width as per your design */
  height: 16px; /* Adjust the height as per your design */
  margin-top: 8px; /* Space above the text */
  border-radius: 4px;
  background-color: var(--colour2);
}

/* PRODUCTCARD LOADER */
.product-card h2 {
  height: 20px;
  background-color: var(--colour2);
  margin: 1rem auto;
}
.product-card p {
  height: 10px;
  background-color: var(--colour2);
  width: 100%;
}
