/* IMAGE LOADER */
.image-loader {
  width: 100%; /* Full width of the parent container */
  height: 645px; /* Adjust the height based on your banner */
  position: relative;
  background-color: #e0e0e0; /* Light gray background as a placeholder */
  overflow: hidden;
}
.image-loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 150px;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}
@keyframes shimmer {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}

/* REDEMPTIONMENU LOADER */
.skeleton-icon {
  width: 64px; /* Adjust the size as per your design */
  height: 64px; /* Adjust the size as per your design */
  border-radius: 50%;
  animation: loadingAnimation 1.5s infinite;
}
.skeleton-text {
  width: 80px; /* Adjust the width as per your design */
  height: 16px; /* Adjust the height as per your design */
  margin-top: 8px; /* Space above the text */
  border-radius: 4px;
  animation: loadingAnimation 1.5s infinite;
}
@keyframes loadingAnimation {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
